3img {
	width: 100%;
	height: auto;
}
.black{border:1px solid #021a40;}
.blue{border:1px solid #021a40;}
.green{border:1px solid #021a40;}
.grass{border:1px solid #021a40;}
.sky{border:1px solid #021a40;}
.red{border:1px solid #021a40;}
body{
	background-color: blue;
	font-family: 'Action Man bold', serif;
	padding: 0;
	margin: 0;
}
a {
   text-decoration: none;
   padding: 10px;
}
img{
 width: 100%;
}

h1{
	color:#fff;
	text-align: center;
	font-size: 60px;
	margin-bottom: 50px;
}

h2{ 
   color: #018e2e;
   text-align: center:;
 }


 p{
 	font-size: 20px;
 }
.portfolio-warp {
	background-color:white;
	padding: 40px;
}
.about-me-warp{

background-color:white; }






